In [14]:
#Name : Parshva Shah
#CWID : 20027093
#Assignment/lab - 3 - HW03_knn
#Load the “breast-cancer-wisconsin.data.csv” from canvas into R/Python and Use the knn methodology (k=3,5 and 10) to develop a classification models for
#the Diagnosis.

In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [17]:
df = pd.read_csv('E:/parshva/Course materials/CS 513 - KDD/assignments/assignment-2/breast-cancer-wisconsin.csv',na_values='?')

print(df.describe())
df.head()

             Sample          F1          F2          F3          F4  \
count  6.990000e+02  699.000000  699.000000  699.000000  699.000000
mean   1.071704e+06    4.417740    3.134478    3.207439    2.806867
std    6.170957e+05    2.815741    3.051459    2.971913    2.855379
min    6.163400e+04    1.000000    1.000000    1.000000    1.000000
25%    8.706885e+05    2.000000    1.000000    1.000000    1.000000
50%    1.171710e+06    4.000000    1.000000    1.000000    1.000000
75%    1.238298e+06    6.000000    5.000000    5.000000    4.000000
max    1.345435e+07   10.000000   10.000000   10.000000   10.000000

               F5          F6          F7          F8          F9       Class
count  699.000000  683.000000  699.000000  699.000000  699.000000  699.000000
mean     3.216023    3.544656    3.437768    2.866953    1.589413    2.689557
std      2.214300    3.643857    2.438364    3.053634    1.715078    0.951273
min      1.000000    1.000000    1.000000    1.000000    1.000000    2.000000
25%      2.000000    1.000000    2.000000    1.000000    1.000000    2.000000
50%      2.000000    1.000000    3.000000    1.000000    1.000000    2.000000
75%      4.000000    6.000000    5.000000    4.000000    1.000000    4.000000
max     10.000000   10.000000   10.000000   10.000000   10.000000    4.000000

    Sample  F1  F2  F3  F4  F5    F6  F7  F8  F9  Class
0  1000025   5   1   1   1   2   1.0   3   1   1      2
1  1002945   5   4   4   5   7  10.0   3   2   1      2
2  1015425   3   1   1   1   2   2.0   3   1   1      2
3  1016277   6   8   8   1   3   4.0   3   7   1      2
4  1017023   4   1   1   3   2   1.0   3   1   1      2

In [18]:
df['F6'].fillna(df['F6'].mean(),inplace=True)

In [19]:
print("\n check for missing value")
print(df.isnull().sum())

 check for missing value
Sample    0
F1        0
F2        0
F3        0
F4        0
F5        0
F6        0
F7        0
F8        0
F9        0
Class     0
dtype: int64

In [20]:
except_columns = ['Sample','Class']
X = df.drop(except_columns, axis=1)
y = df['Class']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=77)

In [22]:
# Train k-NN classifiers with k = 3 5 10
for k in [3, 5, 10]:
    # Initialize k-NN classifier
    knn = KNeighborsClassifier(n_neighbors=k)
    
    # Train the classifier
    knn.fit(X_train, y_train)
    
    # Predict the labels for the test set
    y_pred = knn.predict(X_test)
    
    # Evaluate the performance of the classifier
    accuracy = accuracy_score(y_test, y_pred)
    print(f'k-NN (k={k}) Accuracy: {accuracy:.4f}')

k-NN (k=3) Accuracy: 0.9714
k-NN (k=5) Accuracy: 0.9762
k-NN (k=10) Accuracy: 0.9667